.featured{
    height: 70vh;
    display: flex;
    justify-content: center;
    background-color: #76520e;
    color: white;
    .container{
        max-width: 1400px;
        width: 80%;
        display: flex;
        align-items: center;
        gap: 100px;

        .left{
            display: flex;
            flex-direction: column;
            gap: 25px;
            h1{
                font-size: 35px;
                i{
                   font-weight: 300; 
                }
           }
            .search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;
                .searchInput{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img{
                        width: 18px;
                        height: 18px;
                        margin: 10px;
                    }

                    input{
                        border:none;
                        outline: none;
                    }

                }
                button{
                    width: 100px;
                    height: 45px;
                    border: none;
                    background-color: #dbb42c;
                    color: white;
                    cursor: pointer;
                }
            }

            .popular{
                display: flex;
                align-items: center;
                gap: 8px;
                span{

                }
                button{
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 11px;
                    cursor: pointer;

                }
            }

        }
        .right{
            height: 100%;
            // width: 30%;
            img{
                height: 100%;
                object-fit: contain;
                margin-left: 10px;
            }
        }
    }
}